<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msh.tcw.dao.GiftMapper">
  <resultMap id="BaseResultMap" type="com.msh.tcw.domain.Gift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="gif" jdbcType="VARCHAR" property="gif" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="costTime" jdbcType="INTEGER" property="costTime" />
  </resultMap>
</mapper>