<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msh.tcw.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.msh.tcw.model.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="sendTime" jdbcType="BIGINT" property="sendTime" />
    <result column="roomId" jdbcType="INTEGER" property="roomId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
</mapper>