<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msh.tcw.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.msh.tcw.domain.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="sendTime" jdbcType="BIGINT" property="sendTime" />
    <result column="roomId" jdbcType="INTEGER" property="roomId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="detailId" jdbcType="INTEGER" property="detailId" />
  </resultMap>
  <resultMap id="MessageResultMap" type="com.msh.tcw.domain.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="send_time" jdbcType="BIGINT" property="sendTime" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="detail_id" jdbcType="INTEGER" property="detailId" />
    <association property="orderDetail" javaType="com.msh.tcw.domain.Order" resultMap="com.msh.tcw.dao.OrderMapper.BaseResultMap"/>
  </resultMap>

  <select id="findMessageByRoomIdAndTime" resultMap="MessageResultMap">
    select m.id, m.type, m.open_id, m.send_time, m.room_id, m.detail, m.detail_id,
     o.gift_id, o.price, o.number, o.cost_time, o.order_type, o.total_money, o.blessing, o.gift_name, o.gift_avatar, o.gift_gif
     from message m left join user_order o on m.detail_id = o.id where send_time > #{lastTime} AND m.room_id = #{roomId} order by m.id
  </select>

  <select id="findMessageBeforeId" resultMap="MessageResultMap">
    select id, type, open_id, send_time, room_id, detail, detail_id,
      gift_id, price, number, cost_time, order_type, total_money, blessing, gift_name, gift_avatar, gift_gif from (
      select m.id, m.type, m.open_id, m.send_time, m.room_id, m.detail, m.detail_id,
      o.gift_id, o.price, o.number, o.cost_time, o.order_type, o.total_money, o.blessing, o.gift_name, o.gift_avatar, o.gift_gif
      from message m left join user_order o on m.detail_id = o.id where m.id &lt; #{messageId} AND m.room_id = #{roomId} ORDER BY m.id DESC LIMIT #{messageCount}
    ) t ORDER BY ID
  </select>

</mapper>