<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msh.tcw.dao.RedpackSendLockMapper">
  <resultMap id="BaseResultMap" type="com.msh.tcw.domain.RedpackSendLock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="redpack_id" jdbcType="INTEGER" property="redpackId" />
    <result column="send_time" jdbcType="INTEGER" property="sendTime" />
  </resultMap>
</mapper>